@import "../../node_modules/rfs/scss.scss";
@import "./bl_modeToggleBtn.scss";
@import "./bl_valueToggleBtn.scss";
@import "./bl_pullupToggleBtn.scss";
@import "./el_startInputNotifyBtn.scss";


.bl_pio {
  text-align: center;
}

.bl_pioPin {
  display: flex;
  text-align: center;
  border-bottom: 1px solid;
  padding: 2px 2%;

  &_id {
    flex-basis: 10%;
    margin: auto;
  }

  &_ioToggle {
    flex-basis: 30%;
  }

  &_value {
    flex-basis: 30%;
  }

  &_pullup {
    flex-basis: 30%;
    margin: auto;
  }
}
