@import "../../node_modules/rfs/scss.scss";
@import "./el_connectBtn.scss";

.ly_header_wrapper {
  position: fixed;
  width: 100%;
  z-index: 2;
}

.ly_header {
  background-color: #CCCCCC;
  padding: 10px 10px;

  &_inner {
    display: flex;

    & .bl_header_title {
      @include font-size(1rem);
      display: block;
      margin: auto auto auto 0;
    }

    & .bl_header_button {
      width: 10vw;
      height: 40px;
      min-width: 130px;
      display: block;
      margin: auto 0 auto auto;
    }
  }
}
